Vagrant.configure(2) do |config|
  config.vm.provider 'virtualbox' do |vb|
    vb.customize ['storageattach', :id, '--storagectl', 'IDE Controller',
                  '--type', 'dvddrive', '--port', '1', '--device', '0',
                  '--medium', 'smartos-latest.iso']
  end
end
